body{
    background-color: gray ;
}
#game{
    border: 1px solid black;
    padding: 15px;
    text-align: center;
    width: 400px;
    margin: auto;
    background-color: aquamarine;
    height: 200px;
}
h1{
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid black;
    padding: 5px;
    display: inline-block;
}
span{
    font-size: 150%;
    padding: 10px;
}
#result{
    width: 100px;
    height: 25px;
}
#answer{
    width: 100px;
    height: 31px;
    border: none;
    background-color: cadetblue;
}
#select:hover{
    background-color: darkkhaki;
    cursor: pointer;
}
#True,#False{
    font-size: 150%;
    display: inline-block;
    padding: 15px;
    margin-top: 15px;
}
#True{
    background-color: green;
}
#False{
    background-color: red;
}
#finishWin{
    font-size: 150%;
    margin-top: 10px;
    color: green;
}
#finishLose{
    font-size: 150%;
    margin-top: 10px;
    color: red;
}
    

